/* General Styles */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: url("images/bg-mobile.png") no-repeat center fixed;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #fff;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.top,
section.storage {
  background: hsl(228, 56%, 26%);
  min-width: 70%;
  border-radius: 12px 5em 12px 12px;
  padding: 2em 2.5em;
  margin: 1em;
}

div.main-menu-wrapper {
  margin-top: 1.75em;
  display: flex;
}

div.menu-item {
  margin: 0 1rem 0 0;
  border-radius: 10px;
  background: hsl(229, 57%, 11%);
  width: 3.2rem;
  height: 3.2rem;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.menu-icon {
  max-width: 100%;
  height: auto;
}

section.storage {
  border-radius: 12px;
  text-align: center;
  position: relative;
  margin-top: 0.5em;
  padding: 2em 1.5em;
}

div.outer-bar {
  width: 18em;
  background: hsl(229, 57%, 11%);
  height: 1.5em;
  content: "";
  margin: 1.5em 0 1em;
  position: relative;
  border-radius: 1em;
}

div.outer-bar::before {
  width: 81%;
  height: 1.05em;
  content: "";
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  border-radius: 1em;
}

div.outer-bar::after {
  content: "";
  width: 0.8em;
  height: 0.8em;
  background: #fff;
  top: 0.375em;
  right: 3.4em;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
}

/* div.inner-bar {
  width: 81%;
  height: 1.05em;
  content: "";
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  border-radius: 1em;
} 

div.outer-bar::after {
  content: "";
  width: 0.8em;
  height: 0.8em;
  background: #fff;
  top: -0.02rem;
  right: -6.5rem;
  border-radius: 100%;
  display: inline-block;
  position: relative;
} */

div.storage-limits {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -1.2em;
  font-weight: 700;
  font-size: 0.9em;
}

#gbLeft {
  background: #fff;
  /* width: 8em; */
  color: hsl(229, 57%, 11%);
  font-size: 2.75rem;
  padding: 0.5em 1em;
  text-align: center;
  border-radius: 12px;
  font-weight: 700;
  position: absolute;
  top: 2.85em;
  left: 15%;
}

#gbLeft span {
  font-size: 1rem;
  color: hsl(229, 7%, 55%);
  text-transform: uppercase;
  /* margin: 1em 0.25em 3em; */
  display: inline-block;
  line-height: 2em;
}

footer {
  font-size: 11px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  color: hsl(228, 56%, 26%);
}

footer a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 375px) {
  body {
    background-image: url("images/bg-desktop.png");
  }

  main {
    flex-direction: row;
  }

  section.top {
    min-width: 20%;
    width: 16rem;
    padding: 2.5em;
  }

  section.storage {
    width: 32rem;
    min-width: auto;
    text-align: left;
    padding: 1em 2em;
    margin-top: 2.5em;
  }

  div.outer-bar {
    width: 98%;
  }

  div.outer-bar::after {
    right: 5.9em;
  }

  div.storage-limits {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  #gbLeft {
    top: -2.5em;
    right: 8%;
    left: auto;
    padding: 0.4em 0.75em;
    border-radius: 12px 12px 0 12px;
    font-size: 2.5rem;
  }

  #gbLeft::after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -0.5em;
    right: 0;
    /* background: #fff; */
    border-right: 20px #fff solid;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
}
