/* General Styles */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: url("images/bg-mobile.png") no-repeat center fixed;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #fff;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.top,
section.storage {
  background: hsl(228, 56%, 26%);
  min-width: 70%;
  border-radius: 12px 5em 12px 12px;
  padding: 2em 2.5em;
  margin: 1em;
}

div.main-menu-wrapper {
  margin-top: 1.75em;
}

img.menu-icon {
  padding: 0.85em;
  background: hsl(229, 57%, 11%);
  margin: 0 0.5em 0 0;
  border-radius: 10px;
  width: 1.2rem;
}

section.storage {
  border-radius: 12px;
}

div.outer-bar {
  width: 100%;
  background: hsl(229, 57%, 11%);
  height: 1.5em;
  content: "";
  margin: 1.5em 0 1em;
  position: relative;
  border-radius: 1em;
}

div.inner-bar {
  width: 81%;
  height: 1.05em;
  content: "";
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  border-radius: 1em;
}

#gbLeft {
  background: #fff;
  /* width: 8em; */
  color: hsl(229, 57%, 11%);
  font-size: 2.5rem;
  padding: 0.5em 1em;
  text-align: center;
  border-radius: 12px;
}

footer {
  font-size: 11px;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  color: hsl(228, 56%, 26%);
  padding: 2em;
}

footer a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 375px) {
  body {
    background-image: url("images/bg-desktop.png");
  }
}
